body {
  background-color: rgb(233, 231, 231);
}

.headerSection {
  text-align: center;
  background-color: rgb(233, 233, 64);
}

.headerSearch {
  height: 2.5vh;
  margin-top: 2vh;
}

.navBar {
  border-style: solid;
  line-height: 6vh;
}

.navOptions {
  vertical-align: middle;
  margin-left: 2vw;
}

.navOptions:hover {
  transition-duration: 0.5s;
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 0.3);
}

.offer {
  background-color: white;
  width: 80%;
  padding: 30px;
  align-items: start;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#first {
  border-right: solid;
  border-right-width: 1px;
  padding-right: 10px;
}

.contents {
  width: 80vw;
  margin-top: 5vh;
  display: inline-block;
}

.marketItem {
  background-color: white;
  height: 224px;
  width: 15vw;
  float: left;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  overflow: hidden;
}

.marketItem:hover {
  transition-duration: 0.5s;
  transition-timing-function: linear;
  height: 330px;
}